## Контрольная работа

In [1]:
import pandas as pd
import numpy as np

### Датафрейм с которым вы будете сегодня работать

In [2]:
data = [['Girev', 'Andrey', 'ВИП', 2815, 29, 58, 6358, 'Moscow', 'Xiaomi'],
       ['Bykin', 'Stas', 'Все за 300', 3634, 37, 78, 602, 'Kazan',
        'Samsung'],
       ['Ivanov', 'Alex', 'Всё за 800', 410, 47, 81, 3582, 'Moscow',
        'Huawei'],
       ['Andreev', 'Sergey', 'Всё за 500', 1981, 75, 98, 5442, 'Kazan',
        'Apple'],
       ['Girev', 'Stas', 'Всё за 800', 4969, 43, 61, 8510, 'Moscow',
        'Samsung'],
       ['Bykin', 'Andrey', 'Всё за 500', 4308, 49, 39, 2525, 'Moscow',
        'Xiaomi'],
       ['Kozlov', 'Igor', 'Всё за 800', 300, 60, 31, 8543, 'Yakutsk',
        'Samsung'],
       ['Girev', 'Alex', 'Промо', 4199, 47, 90, 3925, 'Kazan', 'Apple'],
       ['Petrov', 'Nikolay', 'ВИП', 4810, 72, 88, 7188, 'Moscow',
        'Apple'],
       ['Andreev', 'Sergey', 'Всё за 800', 4118, 52, 53, 419, 'Yakutsk',
        'Apple'],
       ['Smolov', 'Stas', 'Промо', 1991, 28, 67, 5016, 'Kazan', 'Xiaomi'],
       ['Girev', 'Igor', 'Корпоративный', 1430, 69, 19, 9520, 'Yakutsk',
        'Samsung'],
       ['Kozlov', 'Andrey', 'Корпоративный', 113, 71, 82, 2785, 'Kazan',
        'Apple'],
       ['Ivanov', 'Sergey', 'Промо', 3394, 39, 12, 2718, 'Yakutsk',
        'Xiaomi'],
       ['Smolov', 'Sergey', 'Всё за 250 (архив)', 3493, 32, 6, 8959,
        'Yakutsk', 'Huawei'],
       ['Kozlov', 'Stas', 'Всё за 800', 4565, 59, 82, 3168, 'Moscow',
        'Apple'],
       ['Vlasov', 'Andrey', 'Всё за 800', 3192, 29, 74, 2852, 'Yakutsk',
        'Xiaomi'],
       ['Smolov', 'Alex', 'Корпоративный', 3764, 71, 22, 2768, 'Moscow',
        'Huawei'],
       ['Vlasov', 'Sergey', 'Всё за 800', 3816, 28, 35, 5734,
        'Vladivostok', 'Apple'],
       ['Bykin', 'Alex', 'Промо', 817, 65, 34, 2131, 'Vladivostok',
        'Samsung'],
       ['Andreev', 'Nikolay', 'Всё за 500', 385, 49, 62, 1815, 'Kazan',
        'Xiaomi'],
       ['Bykin', 'Igor', 'Всё за 500', 2642, 38, 11, 3787, 'Moscow',
        'Xiaomi'],
       ['Girev', 'Sergey', 'Все за 300', 4230, 62, 68, 5512,
        'Vladivostok', 'Samsung'],
       ['Bykin', 'Sergey', 'Всё за 800', 4100, 48, 39, 227, 'Moscow',
        'Xiaomi'],
       ['Girev', 'Stas', 'Все за 300', 3371, 53, 24, 7946, 'Kazan',
        'Apple'],
       ['Smolov', 'Sergey', 'Корпоративный', 3577, 70, 71, 8847,
        'Yakutsk', 'Huawei'],
       ['Mezov', 'Nikolay', 'Всё за 250 (архив)', 2742, 28, 19, 7115,
        'Yakutsk', 'Huawei'],
       ['Smolov', 'Stas', 'Всё за 500', 2644, 41, 33, 8341, 'Moscow',
        'Xiaomi'],
       ['Vlasov', 'Andrey', 'Всё за 500', 4725, 26, 93, 9441,
        'Vladivostok', 'Xiaomi'],
       ['Ivanov', 'Nikolay', 'Всё за 500', 2785, 41, 5, 2901, 'Moscow',
        'Samsung']]

df = pd.DataFrame(data, columns = ['surname', 'name', 'tarif', 'balance', 'age', 'sms', 'voice', 'city', 'phone'])

In [3]:
df

,surname,name,tarif,balance,age,sms,voice,city,phone
0,Girev,Andrey,ВИП,2815,29,58,6358,Moscow,Xiaomi
1,Bykin,Stas,Все за 300,3634,37,78,602,Kazan,Samsung
2,Ivanov,Alex,Всё за 800,410,47,81,3582,Moscow,Huawei
3,Andreev,Sergey,Всё за 500,1981,75,98,5442,Kazan,Apple
4,Girev,Stas,Всё за 800,4969,43,61,8510,Moscow,Samsung
5,Bykin,Andrey,Всё за 500,4308,49,39,2525,Moscow,Xiaomi
6,Kozlov,Igor,Всё за 800,300,60,31,8543,Yakutsk,Samsung
7,Girev,Alex,Промо,4199,47,90,3925,Kazan,Apple
8,Petrov,Nikolay,ВИП,4810,72,88,7188,Moscow,Apple
9,Andreev,Sergey,Всё за 800,4118,52,53,419,Yakutsk,Apple
10,Smolov,Stas,Промо,1991,28,67,5016,Kazan,Xiaomi
11,Girev,Igor,Корпоративный,1430,69,19,9520,Yakutsk,Samsung
12,Kozlov,Andrey,Корпоративный,113,71,82,2785,Kazan,Apple
13,Ivanov,Sergey,Промо,3394,39,12,2718,Yakutsk,Xiaomi
14,Smolov,Sergey,Всё за 250 (архив),3493,32,6,8959,Yakutsk,Huawei
15,Kozlov,Stas,Всё за 800,4565,59,82,3168,Moscow,Apple
16,Vlasov,Andrey,Всё за 800,3192,29,74,2852,Yakutsk,Xiaomi
17,Smolov,Alex,Корпоративный,3764,71,22,2768,Moscow,Huawei
18,Vlasov,Sergey,Всё за 800,3816,28,35,5734,Vladivostok,Apple
19,Bykin,Alex,Промо,817,65,34,2131,Vladivostok,Samsung
20,Andreev,Nikolay,Всё за 500,385,49,62,1815,Kazan,Xiaomi
21,Bykin,Igor,Всё за 500,2642,38,11,3787,Moscow,Xiaomi
22,Girev,Sergey,Все за 300,4230,62,68,5512,Vladivostok,Samsung
23,Bykin,Sergey,Всё за 800,4100,48,39,227,Moscow,Xiaomi
24,Girev,Stas,Все за 300,3371,53,24,7946,Kazan,Apple
25,Smolov,Sergey,Корпоративный,3577,70,71,8847,Yakutsk,Huawei
26,Mezov,Nikolay,Всё за 250 (архив),2742,28,19,7115,Yakutsk,Huawei
27,Smolov,Stas,Всё за 500,2644,41,33,8341,Moscow,Xiaomi
28,Vlasov,Andrey,Всё за 500,4725,26,93,9441,Vladivostok,Xiaomi
29,Ivanov,Nikolay,Всё за 500,2785,41,5,2901,Moscow,Samsung

In [4]:
#surname    - Фамилия клиента 
#name       - Имя клиента
#tarif      - Тариф клиента
#balance	- Баланс клиента
#age	    - Возраст клиента
#sms	    - Количество отправленных СМС
#voice	    - Количество секунд разговора (звонки)
#city	    - Город клиента
#phone      - Марка телефона клиента

## Ответы на вопросы загрузите на степик

### Вопрос 1: определите средний возраст клиента

In [39]:
np.floor(df.age.mean())

48.0

### Вопрос 2: на каком тарифе средний возраст клиента наименьший

In [41]:
df.groupby('tarif').age.mean()

tarif
ВИП                   50.500000
Все за 300            50.666667
Всё за 250 (архив)    30.000000
Всё за 500            45.571429
Всё за 800            45.750000
Корпоративный         70.250000
Промо                 44.750000
Name: age, dtype: float64

### Вопрос 3: с какого города больше всего клиентов?

In [51]:
#1
df.groupby('city').count()

             surname  name  tarif  balance  age  sms  voice  phone
city
Kazan              7     7      7        7    7    7      7      7
Moscow            11    11     11       11   11   11     11     11
Vladivostok        4     4      4        4    4    4      4      4
Yakutsk            8     8      8        8    8    8      8      8

In [55]:
#2
df['city'].value_counts().idxmax()

'Moscow'

### Вопрос 4: на каком тарифе отправили больше всего СМС?

In [58]:
#1
df.groupby('tarif').agg({'sms' : 'count'})

                    sms
tarif
ВИП                   2
Все за 300            3
Всё за 250 (архив)    2
Всё за 500            7
Всё за 800            8
Корпоративный         4
Промо                 4

In [61]:
#2
df.groupby('tarif').sms.count().idxmax()

'Всё за 800'

### Вопрос 5: определите самую популярную марку смартфона у пользователей до 40 (включительно)

In [88]:
#1
df[df['age'] <= 40].value_counts('phone')

phone
Xiaomi     6
Huawei     2
Samsung    1
Apple      1
dtype: int64

In [89]:
#2
df[df['age'] <= 40].groupby('phone').count().idxmax()

surname    Xiaomi
name       Xiaomi
tarif      Xiaomi
balance    Xiaomi
age        Xiaomi
sms        Xiaomi
voice      Xiaomi
city       Xiaomi
dtype: object

### Вопрос 6: определите самую популярную марку смартфона у пользователей старше 40

In [90]:
df[df['age'] > 40].value_counts('phone')

phone
Apple      7
Samsung    6
Xiaomi     4
Huawei     3
dtype: int64

### Вопрос 7: В каком городе клиенты меньше всего отправляют СМС

In [113]:
#1
df['city'].value_counts('sms').idxmin()

'Vladivostok'

In [110]:
#2
df.groupby('city').agg({'sms' : 'count'}).idxmin()

sms    Vladivostok
dtype: object

### Вопрос 8: В каком городе клиенты больше всего говорят по телефону?

In [114]:
#1
df.groupby('city').sum().idxmax()

balance    Moscow
age        Moscow
sms        Moscow
voice      Moscow
dtype: object

In [115]:
#2
df['city'].value_counts('voice')

Moscow         0.366667
Yakutsk        0.266667
Kazan          0.233333
Vladivostok    0.133333
Name: city, dtype: float64

### Вопрос 9: Сколько заработала фирма на СМС сообщениях? Стоимость одного сообщения 3 рубля.

In [120]:
df['sms'].sum() * 3

4605

### Вопрос 10: Сколько заработала фирма на СМС сообщениях? Тарифная сетка:
#### ВИП                   - 1 рубль за СМС
####  Все за 300            - 2 рубля за СМС
####  Всё за 500            - 3 рубля за СМС
####  Всё за 800            - 4 рубля за СМС
####  Промо                 - 7 рублей за СМС
####  Корпоративный         - 0 рублей за СМС
####  Всё за 250 (архив)    - 5 рублей за СМС

In [132]:
sum(df.groupby('tarif').sms.sum() * [1, 2, 5, 3, 4, 0, 7])

4879

### Вопрос 11: Определите процент клиентов, у которых баланс выше 4000

In [158]:
(df[df['balance'] > 4000].shape[0] / df.shape[0]) * 100

30.0

### Вопрос 12: Определите процент клиентов, у которых баланс выше 2000 и тариф 'Всё за 500'

In [175]:
np.floor((df[(df['balance'] > 2000) & (df['tarif'] == 'Всё за 500')]).shape[0] / df.shape[0] * 100)

16.0

### Вопрос 13: Сколько клиентов из Москвы, у которых баланс выше 1500 и марка телефона 'Apple'?

In [183]:
#1
df[(df['city'] == 'Moscow') & (df['balance'] > 1500) & (df['phone'] == 'Apple')].count()

surname    2
name       2
tarif      2
balance    2
age        2
sms        2
voice      2
city       2
phone      2
dtype: int64

In [184]:
#2
((df['balance'] > 1500) & (df['city'] == 'Moscow') & (df['phone'] == 'Apple')).sum()

2

### Вопрос 14: Самое распространённое имя среди наших клиентов?

In [186]:
#1
df.name.value_counts()

Sergey     8
Stas       6
Andrey     5
Alex       4
Nikolay    4
Igor       3
Name: name, dtype: int64

In [187]:
#2
df.value_counts('name').idxmax()

'Sergey'

### Вопрос 15: Определите процент клиентов у которых телефон Apple и они из Владивостока

In [194]:
df[(df['phone'] == 'Apple') & (df['city'] == 'Vladivostok')].shape[0] / df.shape[0] * 100

3.3333333333333335