### Контольная работа (продолжение)

In [325]:
import pandas as pd
import numpy as np

In [527]:
data = [['Girev', 'Andrey', 'ВИП', 2815, 29, 58, 6358, 'Moscow', 'Xiaomi'],
       ['Bykin', 'Stas', 'Все за 300', 3634, 37, 78, 602, 'Kazan',
        'Samsung'],
       ['Ivanov', 'Alex', 'Всё за 800', 410, 47, 81, 3582, 'Moscow',
        'Huawei'],
       ['Andreev', 'Sergey', 'Всё за 500', 1981, 75, 98, 5442, 'Kazan',
        'Apple'],
       ['Girev', 'Stas', 'Всё за 800', 4969, 43, 61, 8510, 'Moscow',
        'Samsung'],
       ['Bykin', 'Andrey', 'Всё за 500', 4308, 49, 39, 2525, 'Moscow',
        'Xiaomi'],
       ['Kozlov', 'Igor', 'Всё за 800', 300, 60, 31, 8543, 'Yakutsk',
        'Samsung'],
       ['Girev', 'Alex', 'Промо', 4199, 47, 90, 3925, 'Kazan', 'Apple'],
       ['Petrov', 'Nikolay', 'ВИП', 4810, 72, 88, 7188, 'Moscow',
        'Apple'],
       ['Andreev', 'Sergey', 'Всё за 800', 4118, 52, 53, 419, 'Yakutsk',
        'Apple'],
       ['Smolov', 'Stas', 'Промо', 1991, 28, 67, 5016, 'Kazan', 'Xiaomi'],
       ['Girev', 'Igor', 'Корпоративный', 1430, 69, 19, 9520, 'Yakutsk',
        'Samsung'],
       ['Kozlov', 'Andrey', 'Корпоративный', 113, 71, 82, 2785, 'Kazan',
        'Apple'],
       ['Ivanov', 'Sergey', 'Промо', 3394, 39, 12, 2718, 'Yakutsk',
        'Xiaomi'],
       ['Smolov', 'Sergey', 'Всё за 250 (архив)', 3493, 32, 6, 8959,
        'Yakutsk', 'Huawei'],
       ['Kozlov', 'Stas', 'Всё за 800', 4565, 59, 82, 3168, 'Moscow',
        'Apple'],
       ['Vlasov', 'Andrey', 'Всё за 800', 3192, 29, 74, 2852, 'Yakutsk',
        'Xiaomi'],
       ['Smolov', 'Alex', 'Корпоративный', 3764, 71, 22, 2768, 'Moscow',
        'Huawei'],
       ['Vlasov', 'Sergey', 'Всё за 800', 3816, 28, 35, 5734,
        'Vladivostok', 'Apple'],
       ['Bykin', 'Alex', 'Промо', 817, 65, 34, 2131, 'Vladivostok',
        'Samsung'],
       ['Andreev', 'Nikolay', 'Всё за 500', 385, 49, 62, 1815, 'Kazan',
        'Xiaomi'],
       ['Bykin', 'Igor', 'Всё за 500', 2642, 38, 11, 3787, 'Moscow',
        'Xiaomi'],
       ['Girev', 'Sergey', 'Все за 300', 4230, 62, 68, 5512,
        'Vladivostok', 'Samsung'],
       ['Bykin', 'Sergey', 'Всё за 800', 4100, 48, 39, 227, 'Moscow',
        'Xiaomi'],
       ['Girev', 'Stas', 'Все за 300', 3371, 53, 24, 7946, 'Kazan',
        'Apple'],
       ['Smolov', 'Sergey', 'Корпоративный', 3577, 70, 71, 8847,
        'Yakutsk', 'Huawei'],
       ['Mezov', 'Nikolay', 'Всё за 250 (архив)', 2742, 28, 19, 7115,
        'Yakutsk', 'Huawei'],
       ['Smolov', 'Stas', 'Всё за 500', 2644, 41, 33, 8341, 'Moscow',
        'Xiaomi'],
       ['Vlasov', 'Andrey', 'Всё за 500', 4725, 26, 93, 9441,
        'Vladivostok', 'Xiaomi'],
       ['Ivanov', 'Nikolay', 'Всё за 500', 2785, 41, 5, 2901, 'Moscow',
        'Samsung']]

_df = pd.DataFrame(data, columns = ['surname', 'name', 'tarif', 'balance', 'age', 'sms', 'voice', 'city', 'phone'])

In [354]:
_df

,surname,name,tarif,balance,age,sms,voice,city,phone
0,Girev,Andrey,ВИП,2815,29,58,6358,Moscow,Xiaomi
1,Bykin,Stas,Все за 300,3634,37,78,602,Kazan,Samsung
2,Ivanov,Alex,Всё за 800,410,47,81,3582,Moscow,Huawei
3,Andreev,Sergey,Всё за 500,1981,75,98,5442,Kazan,Apple
4,Girev,Stas,Всё за 800,4969,43,61,8510,Moscow,Samsung
5,Bykin,Andrey,Всё за 500,4308,49,39,2525,Moscow,Xiaomi
6,Kozlov,Igor,Всё за 800,300,60,31,8543,Yakutsk,Samsung
7,Girev,Alex,Промо,4199,47,90,3925,Kazan,Apple
8,Petrov,Nikolay,ВИП,4810,72,88,7188,Moscow,Apple
9,Andreev,Sergey,Всё за 800,4118,52,53,419,Yakutsk,Apple
10,Smolov,Stas,Промо,1991,28,67,5016,Kazan,Xiaomi
11,Girev,Igor,Корпоративный,1430,69,19,9520,Yakutsk,Samsung
12,Kozlov,Andrey,Корпоративный,113,71,82,2785,Kazan,Apple
13,Ivanov,Sergey,Промо,3394,39,12,2718,Yakutsk,Xiaomi
14,Smolov,Sergey,Всё за 250 (архив),3493,32,6,8959,Yakutsk,Huawei
15,Kozlov,Stas,Всё за 800,4565,59,82,3168,Moscow,Apple
16,Vlasov,Andrey,Всё за 800,3192,29,74,2852,Yakutsk,Xiaomi
17,Smolov,Alex,Корпоративный,3764,71,22,2768,Moscow,Huawei
18,Vlasov,Sergey,Всё за 800,3816,28,35,5734,Vladivostok,Apple
19,Bykin,Alex,Промо,817,65,34,2131,Vladivostok,Samsung
20,Andreev,Nikolay,Всё за 500,385,49,62,1815,Kazan,Xiaomi
21,Bykin,Igor,Всё за 500,2642,38,11,3787,Moscow,Xiaomi
22,Girev,Sergey,Все за 300,4230,62,68,5512,Vladivostok,Samsung
23,Bykin,Sergey,Всё за 800,4100,48,39,227,Moscow,Xiaomi
24,Girev,Stas,Все за 300,3371,53,24,7946,Kazan,Apple
25,Smolov,Sergey,Корпоративный,3577,70,71,8847,Yakutsk,Huawei
26,Mezov,Nikolay,Всё за 250 (архив),2742,28,19,7115,Yakutsk,Huawei
27,Smolov,Stas,Всё за 500,2644,41,33,8341,Moscow,Xiaomi
28,Vlasov,Andrey,Всё за 500,4725,26,93,9441,Vladivostok,Xiaomi
29,Ivanov,Nikolay,Всё за 500,2785,41,5,2901,Moscow,Samsung

**⭐Объедините столбцы surname и name в столбец с именем client_name**

In [162]:
_df['client_name'] = _df['surname'] + ' '+ _df['name']

**⭐Поступила задача разбить клиентов на группы:**

 * до 25 лет (включительно) - A (англ. буква)
 * с 26 до 40 лет (включительно) - B (англ. буква)
 * старше 40 лет - C (англ. буква)
 
**Запишите название группы в столбец group:**

In [163]:
#1
_df['group'] = np.where(_df['age'] < 25, 'A', (np.where(_df['age'] > 40, 'C', 'B')))

In [164]:
#2
#_df['group'] = _df.age.apply(lambda age: 'A' if age < 26 else 'C' if age > 40 else 'B')

**⭐Пришла информация, что на сервере в Москве возник сбой и баланс за отправленные смс не списался (у пользователей из Москвы). Спишите с каждого пользователя из Москвы деньги за смс. Количество отправленных смс за которые не списали деньги в столбце sms. Стоимость 1 смс - 3 рубля. (обновите колонку balance):**

In [165]:
_df.loc[_df['city'] == 'Moscow', ['balance']] = _df['balance'] - _df['sms'] * 3

⭐**Ваш коллега Юра отправил вам результаты обработки данных в файле .npz, но торопился и не успел написать под какими ключами сохранил массивы в файл. Скачайте файл, определите название ключа под которым сохранён первый массив в файле.**

In [167]:
arch = np.load('e:data.npz')

In [169]:
arch.files

['mykey1', 'mykey2']

In [170]:
arch['mykey1']

array([1, 2, 3])

In [171]:
arch['mykey2']

array([4, 5, 6])

⭐**На совещании было принято решение детальнее проработать вопрос списания денежных средств. Теперь, спишите деньги (у пользователей из Москвы за смс) с учетом тарифной сетки:**

In [283]:
d = {'ВИП': 1,  'Все за 300': 2, 'Всё за 500': 3,  
     'Всё за 800': 4, 'Промо': 7, 'Корпоративный': 0, 'Всё за 250 (архив)': 5}

In [351]:
for key in d:
    _df.loc[(_df['city'] == 'Moscow') & (_df['tarif'] == key), ['balance']] = _df['balance'] - _df['sms'] * d[key]

⭐**Пользователь Girev Sergey написал заявление о том, что переехал из города Vladivostok в Kazan. Внесите изменения в датафрейм:**

In [368]:
_df.loc[(_df['name'] == 'Sergey') & (_df['surname'] == 'Girev'), ['city']] = 'Kazan'

⭐**Измените название колонки balance на client_balance:**

In [379]:
_df.rename(columns = {'balance' : 'client_balance'}, inplace=True)

⭐**Напишите название функции, которая выводит индекс минимального значения**

In [386]:
#pandas.Series.argmin - Return int position of the smallest value in the Series.
_df['age'].argmin()

28

In [382]:
#pandas.DataFrame.idxmin - Return index of first occurrence of minimum over requested axis. - индекс 1-го вхождения мин.эл.
_df['age'].idxmin()

28

⭐**Пересчитайте баланс пользователей в доллары по курсу 1 доллар = 60 рублей. Результат запишите в колонку balance_usd (ответ округлите до двух знаков после запятой). Исходный баланс лежит в столбце balance:**

In [396]:
_df['balance_usd'] = round(_df['balance'] / 60, 2)

⭐**Высшее руководство компании в ячейке с балансом (в долларах) хотят видеть знак доллара $. Вам как самому ответственному и подготовленному специалисту доверили довести дело до конца! Добавьте, пожалуйста, знак доллара)**

In [410]:
_df['balance_usd'] = _df['balance_usd'].astype('str') + ' $'

⭐**Расcчитайте долю смс для каждого пользователя. Для этого определите сколько всего было отправлено СМС, а затем расcчитайте отношение отправленных смс клиента к общему количеству. Столбец назовите sms_volume. Оставьте TOP-3:**

In [414]:
_df['sms_volume'] = _df['sms'] / _df['sms'].sum()

In [418]:
_df.sort_values('sms_volume', ascending=False).head(3)

,surname,name,tarif,balance,age,sms,voice,city,phone,balance_usd,sms_volume
3,Andreev,Sergey,Всё за 500,1981,75,98,5442,Kazan,Apple,33.02 $,0.063844
28,Vlasov,Andrey,Всё за 500,4725,26,93,9441,Vladivostok,Xiaomi,78.75 $,0.060586
7,Girev,Alex,Промо,4199,47,90,3925,Kazan,Apple,69.98 $,0.058632

⭐**Cредний возраст клиентов из Казани выше чем во Владивостоке? Функция должна вернуть True - если да и False - если нет.**

In [436]:
_df[_df['city'] == 'Kazan']['age'].mean() > _df[_df['city'] == 'Vladivostok']['age'].mean()

True

⭐**Создайте индекс для строк на основе столбцов surname и name. После создания индекса удалите столбцы surname и name:**

In [528]:
_df.index = _df['surname'].str.upper() + '_' + _df['name'].str.upper()

In [529]:
#_df = _df.reindex(columns = ['tarif', 'balance', 'age', 'sms', 'voice', 'city', 'phone'])
_df = _df.drop(columns=['surname', 'name'])

⭐**Являются ли лейблы строк уникальными (не повторяющимися)? Верните True - если уникальные и False - если есть дубли. Пример входящего датафрейма:**

In [538]:
_df.index.is_unique

False